.auth_form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #040D12;
}

.auth_input{
    padding: 5px;
    margin-bottom: 20px;
    width: 30%;
}

.auth_submit_button{
    padding: 5px;
    cursor:pointer;
}
.auth_link{
    text-decoration: underline;
    cursor:pointer;
}

.auth_group{
    display: flex;
    justify-content: space-between;
    width: 30%;
}