.chat_room_container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat_room_header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 3%;
    min-height: 25px;
}

.chat_room_message_list{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: brown white;
    height: 80vh;
}

.chat_room_input{
    display: flex; 
    padding: 5px;
    justify-content: space-between;
    height: 4%;
    min-height: 35px;
}

.message_container{
    display: flex;
    flex-direction: column;
}

.message_box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 70%;
    word-break: break-all;
}

.message_box.left{
    align-self: flex-start;
}

.message_box.right{
    align-self: flex-end;
}

.message_content{
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.message_content.left{
    background-color: rgb(255, 234, 204);
}

.message_content.right{
    background-color: rgb(255, 216, 157);
}

.message_username{
    color: black;
}

.message_username.left{
    color: black;
    align-self: flex-start;
}

.message_username.right{
    color: black;
    align-self: flex-end;
}

.message_input_container{
    flex: 100;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: whitesmoke;
    border-radius: 5px;
}

.message_input{
    background: none;
    border: none;
}

.message_input:focus{
    outline:none;
}

.send_button{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}