.layoutContainer{
    display: grid;
    grid-template-areas: 
    "header header header"
    "left center right";
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 4% 96%;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.header{
    grid-area: header;
}

.left{
    grid-area: left;
}

.center{
    grid-area: center;
}

.right{
    grid-area: right;
}